/* 팝업창 배경 */
.popup {
  position: fixed;
  z-index: 9999; /* 가장 위에 표시 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 팝업창 내용 */
.popup-content {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

/* 팝업 닫기 버튼 */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  cursor: pointer;
}

.lose-gif {
  background-image: url('../resources/lose.gif');
}

.win-gif {
  background-image: url('../resources/win.gif');
}

.tie-gif {
  background-image: url('../resources/tie.gif');
}